.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Модал выше других элементов */
}

.modal {
  background: white;
  border-radius: 8px;
  padding: 20px;
  padding-top: 60px;
  max-width: 80%; /* Ширина модального окна */
  max-height: 80%; /* Высота модального окна */
  border: 10px solid rgb(255, 255, 255); /* Рамка 10px со всех сторон */
  overflow: hidden; /* Убираем прокрутку */
  position: relative; /* Для кнопки закрытия */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
  background-color: transparent; /* Прозрачный фон */
  font-size: 50px; /* Размер шрифта для кнопки */
  cursor: pointer; /* Указатель для курсора */
}
